/* @import url("https://fonts.googleapis.com/css?family=Anybody:regular,semibold,bold,black&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:regular&display=swap");

@import "primereact/resources/themes/lara-light-cyan/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #db0006;
        --color-primary-hover: #cd0107;
        --color-secondary: #ffbc0f;
        --color-secondary-hover: #ffb71b;
        --color-tertiary: #56afd1;
        --color-tertiary-hover: #56afd1;
        --color-light: #fafafa;
    }
}

@layer base {
    .vertically-aligned {
        top: 50%;
        transform: translateY(-50%);
    }

    .container {
        @apply mt-12 max-w-xl mx-auto
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}